<div id="footer">
    <div class="footer">
        <section class="registers">
                <h2>Registros</h2>
                <ul>
                    <li><p>564</p> Publicações já realizados</li>
                    <li><p>152</p> Comentários</li>
                </ul>
        </section>
        <section class="infos">
            <h2>Informações</h2>
            <ul>
                <li> Publicações já Realizados</li>
                <li>Como deixar um Feedback</li>
                <li>Quanto Custa?</li>
                <li>Nossos Termos de Uso</li>
                <li>Política de Privacidade</li>
            </ul>
        </section>
        <section class="contacts">
            <h2>Contatos</h2>
               <div class="redes">
                <a href="#"><img src="../../../assets/social-icons/facebook.svg" alt="Facebook Icon"></a>
                <a href="#"><img src="../../../assets/social-icons/instagram.svg" alt="Instagram Icon"></a>
                <a href="#"><img src="../../../assets/social-icons/whatsapp.svg" alt="Whatsapp Icon"></a>
            </div>
        </section>
        </div>
</div>