
    <div class="feedback-container">
        <div class="feedback-header">
            <div class="icon"></div>
           <div class="feedback-desc"> 
            <span class="name"><b>Elogio</b> de Jubiscleiton Santos de Carvalho</span>
            <span class="date">19 de Setembro de 2024</span></div>
        </div>
        <div class="feedback-body">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo eos, ex ut, possimus vel quasi alias at assumenda officia placeat quae voluptates magni blanditiis.</p>
        </div>
        <div class="feedback-footer">
            <span>17 comentários</span>
            <div class="status">ATIVO</div>
        </div>
    </div>

