<div>
    <div class="icon"></div>
    <div class="feedback-container">
        <div class="arrow-up"></div>
        <div class="feedback-header">
            <span class="name"><b>Reclamação</b> de Jubiscleiton Santos de Carvalho</span>
            <span class="date">19 de Setembro de 2024</span>
        </div>
        <div class="feedback-body">
            <p>Gostei muito da ideia, com toda certeza irá ajudar muito, é bem simples e fácil de usar, shoooww!!!</p>
        </div>
        <div class="feedback-footer">
            <span>17 comentários</span>
        </div>
    </div>
</div>
